/* fonts.scss */
// @import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Fredericka+the+Great&family=Noto+Sans+TC:wght@300;400;500;700&family=Noto+Serif+TC&display=swap');

// @font-face {
//   font-family: Dosis;
//   font-style: normal;
//   font-weight: 200;
//   font-display: swap;
//   src: url('https://fonts.googleapis.com/css2?family=Dosis');
// }

// @font-face {
//   font-family: Dosis;
//   font-style: normal;
//   font-weight: 300;
//   font-display: swap;
//   src: url('https://fonts.googleapis.com/css2?family=Dosis');
// }

@font-face {
  font-family: neon;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../fonts/neon.ttf');
}

.font-dosis {
  font-size: 3rem;
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
}

.fonts-neon {
  margin-top: 1rem;
  font-family: neon;
  color: #b874a4;
  font-size: 8rem;
  line-height: 8rem;
  text-shadow:
    0 0 5vw #94396e,
    0 0 5vw #94396e,
    0 0 5vw #94396e,
    0 0 5vw #94396e,
    0 0 0.4vw #5f2746,
    0.5vw 0.5vw 0.1vw #5f2746;
  margin-bottom: 2rem;
}

.font-Podkova {
  font-family: 'Podkova', san-serif;
}
