/* scaffoling.scss */
body {
  transition: all 0.25s ease-out;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #111;
  font-family: 'Raleway', san-serif;
  overflow: hidden;

  &.light-mode {
    background-color: #fff;
    color: $cyber-black;

    a {
      color: $cyber-black;
    }
  }
}

#__nuxt,
#__layout,
.v-layout {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

main {
  overflow: hidden;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a, .link {
  color: white;
  cursor: pointer;
  transition: .2s ease-out;

  &:hover{
    color:#77f5ea;
  }

  &.underline {
    text-underline-offset: 0.25rem;
  }
}

// .v-section{
//   min-height: 100vh;
//   height:100vh;
//   position: relative;
// }
// .v-section .row{
//   height: 100%;

//   >div{
//     height: 100%;
//   }
// }

.full-page{
  z-index: 2;
}

.fp-controlArrow {
  top: 99% !important;
  transform: translateZ(0) scale(0.8) !important;
}

.fp-arrow.fp-prev{
  left: 15px;
  border-width: 6px 8px 6px 0 !important;
  border-color: transparent currentColor transparent transparent !important;
}

.fp-arrow.fp-next{
  right: 15px;
  border-width: 6px 0 6px 8px !important;
  border-color: transparent transparent transparent currentColor !important;
}


.fp-arrow{
  margin: 1rem;
  color: #5ebbb3;

  &:hover::after{
    box-shadow: inset 0 0 15px 0 rgba(94, 187, 79, 0.25),
    0 0 15px 0 rgba(255, 255, 255, 0.25);
  }

  &:active{
    color: #30635f;
  }
}

.fp-arrow::after{
  display: block;
  content: '';
  border: 1px solid currentColor;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  transition: all 0.25s ease-out;
}

.fp-arrow.fp-prev::after{
  transform: translate(-35%, -50%);
}

.fp-arrow.fp-next::after{
  transform: translate(-65%, -50%);
}

@screen lg {
  .fp-arrow.fp-prev{
    left: 30px;
  }

  .fp-arrow.fp-next{
    right: 30px;
  }
  
  .fp-controlArrow {
    top: 97% !important;
    transform: translateZ(0) !important;
  }

}

@screen md {
  .fp-slidesContainer{
    width: 100% !important;
    flex-direction: column !important;
  }
}


@media screen and (min-width: 768px) {
  .fp-arrow {
    display: none !important;
  }
}

.section {
  position: relative;
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  min-height: 100vh;
  &.fullscreen {
    min-height: 100vh;
  }
  &.second {
    // background-color: rgba(0,0,0,0.25);
    //background: rgb(0,0,0);
    // background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,.25) 100%);
  }
  &.third {
    // background-color: rgba(0,0,0,0.25);
    //background: rgb(0,0,0);
    //background: linear-gradient(180deg, rgba(0,0,0,0.25) 0%, rgba(0,0,0,1) 100%);
  }
}
.section-title {
  font-size: 1.5rem;
  font-family: 'Noto Serif', serif;
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  line-height: 1;
  margin-bottom: 2.5rem;

  .text-large {
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.875rem;
  }
}

.section-content {
  // backdrop-filter: blur(7px);
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: $cyber-grey;
  background-color: transparent;
}
.custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: none;
}
.custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
  border-color: $cyber-grey;
}
.custom-control-input:not(:disabled):active ~ .custom-control-label::before {
  color: #fff;
  background-color: transparent;
  border-color: inherit;
}
