/* utilites.scss */
.color-white {
  color: #fff;
}


.bg-cyber-purple{
  background-color: $cyber-purple;
}

.bg-cyber-black{
  background-color: $cyber-black;
}

.bg-powder-cyan{
  background-color: $cyber-powder-cyan;
}